---
---

@import "{{ site.theme }}";

* {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-header{
 color: #2D2B2B; 
 background-image: none;
 background-color: white;
}

.page-header .project-tagline {
 font-size: 1.5rem;
}

.main-content{
 padding: 2rem 1rem;
}
 
