---
---

@import "{{ site.theme }}";

* {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.project-name{
 font-weight: 200; 
}

.page-header{
 color: #2D2B2B; 
 background-image: none;
 background-color: white;
 padding: 2rem 3rem;
}

.page-header .project-tagline {
 font-size: 2rem;
 margin-bottom: 2rem;
 margin-top: 0rem;
}

.page-header .project-name {
 color: #2D2B2B;
}

.main-content{
 padding: 2rem 1rem;
 color: black;
 text-align: justify;
}
 
hr{
 border: 0;
 height: 1px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.main-content hr{
 border: 0;
 height: 1px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 margin: 3em 0 0 0;
}

.main-content h1{
 font-size: 1.5em;
}

.main-content h2{
 font-size: 1.2em;
}

.site-footer {
 padding-top: 2rem;
 margin-top: 2rem;
 border-top: none;
    /* border-top: solid 1px #eff0f1; */
}

kbd{
    /* font-family: monospace, monospace; */
    /* font-size: 1em; */
//     display: inline-block;
    padding: 5px 5px;
    /* font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; */
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    /* background-color: #fafbfc; */
    border: 2px solid #d1d5da;
    border-radius: 6px;
}

.main-content table {
 width: max-content;
}
