<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
	<table align=center width=800px>
	  <tr>
	<td align=center width=150px>
			<center>
				<span style="font-size:18px"><a href="https://www.michelesvanera.org/">Michele Svanera</a></span>
			</center>
		  </td>
	<td align=center width=150px>
			<center>
				<span style="font-size:18px"><a href="https://denbonte.me">Dennis Bontempi</a></span>
			</center>
		  </td>
	<td align=center width=150px>
			<center>
				<span style="font-size:18px"><a href="http://sergio-benini.unibs.it/">Sergio Benini</a></span>
			</center>
		  </td>
	<td align=center width=150px>
			<center>
				<span style="font-size:18px"><a href="http://muckli.psy.gla.ac.uk/">Lars Muckli</a></span>
			</center>
		  </td>
	</table><br>	 
      <span style="font-size:15px">Institute of Neuroscience and Psychology, University of Glasgow, UK</span><br>
      <span style="font-size:15px">Department of Information Engineering, University of Brescia, Italy</span><br>
</header>	   
	  
	<table align=center width=1200px>
	<tr>
	<td align=center width=300px>
		<center>
			<a href="https://github.com/rockNroll87q/cerebrum7t"><img class="" src = "./misc/code.png" height="100px"></img></href></a><br>
		</center>
	  </td>
	<td align=center width=300px>
		<center>
			<a href="https://rocknroll87q.github.io/cerebrum7t/"><img class="" src = "./misc/paper2.png" height="100px"></img></href></a><br>
		</center>
	  </td>
	<td align=center width=300px>
		<center>
			<a href="https://rocknroll87q.github.io/cerebrum7t/"><img class="" src = "./misc/data.png" height="100px"></img></href></a><br>
		</center>
	  </td>
	<td align=center width=300px>
		<center>
			<a href="https://rocknroll87q.github.io/cerebrum7t/"><img class="" src = "./misc/docker2.png" height="100px"></img></href></a><br>
		</center>
	  </td>
	<td align=center width=300px>
		<center>
			<a href="https://rocknroll87q.github.io/cerebrum7t/"><img class="" src = "./misc/sing.png" height="100px"></img></href></a><br>
		</center>
	  </td>
	</table><br>
	  
	  
	  
	<hr>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
